{% if registros is defined and registros|length > 0 %}
<div {{ stimulus_controller('entrys-opener') }}>
   <table class="table"
      data-toggle="table"
      data-table-target="table"
      data-page-number="{{ page }}" 
      data-page-size="{{ pageSize }}"
      data-page-sortName="{{ sortName }}"
      data-page-sortOrder="{{ sortOrder }}">
      <thead>
         <tr>
            <th data-sortable="true">{{ 'registro.orden_entrada_salida' | trans }}</th>
            <th data-sortable="true">{{ 'registro.tipo' | trans }}</th>
            <th data-sortable="true">{{ 'registro.anno' | trans }}</th>
            <th data-sortable="true">{{ 'registro.descripcion' | trans }}</th>
            <th data-sortable="true" data-field="options">{{"table.options" | trans }}</th>
         </tr>
      </thead>
      <tbody>
         {% for registro in registros %}
            <tr>
                  <td>{{ registro.ordenEntradaSalida }}</td>
                  <td>{{ registro.tipo }}</td>
                  <td>{{ registro.anno }}</td>
                  <td>{{ registro.descripcion != null ? registro.descripcion : '' }}</td>
                  <td>
                     {% if registro.id != null %}
                     <a href="{{ path('api_registro_show', { 'registro' : registro.id}) }}" data-action="click->entrys-opener#openModal">
                        <i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i>
                     </a>&nbsp;
                     {% endif %}
                     {% if registro.id != null %}
                     <a href="{{ path('regexpedientes_index', { 'id' : registro.expediente}) }}">
                        <i class="fa fa-link" title='{{ "btn.regExpedientes" | trans | capitalize }}'></i>
                     </a>&nbsp;
                     {% endif %}
                  </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
   {{ include('common/_modal.html.twig', {
            'scrollable' : true,
            'modalTitle' : 'modal.title.entrys' | trans
   }) }}
</div>
{% else %}
   <div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
{% endif %}
<div class="d-flex justify-content-center">
   <a href="{{ returnUrl }}" class= "btn btn-secondary col-lg-auto">{{ 'btn.cancel' | trans }}</a>
</div>