{% block message %}
	{{ include('common/_messages.html.twig') }}
{% endblock %}

{{ form_start(form) }}
<div>
   <div class="row align-items-center">
      <div class="col-lg-1 col-md-2 col-sm-6">
         {{ form_row(form.ordenEntradaSalida, { 'attr': { 'class' : 'form-control form-control-sm' } }) }}
      </div>
      <div class="col-lg-1 col-md-2 col-sm-6">
         {{ form_row(form.dni, { 'attr': { 'class' : 'form-control form-control-sm' } }) }}
      </div>
      <div class="col-lg-auto col-md-2 col-sm-6">
         {{ form_row(form.tipo, { 'attr': { 'class' : 'form-select form-select-sm', } }) }}
      </div>
      <div class="col-lg-1 col-md-2 col-sm-6">
         {{ form_row(form.anno, { 'attr': { 'class' : 'form-control form-control-sm' } }) }}
      </div>
      <div class="col-lg col-md-2 col-sm-6">
         {{ form_row(form.descripcion, { 'attr': { 'class' : 'form-control form-control-sm' } }) 
         }}
      </div>
      <div class="col-lg-1 col-md-2 col-sm-6">
         <button class="btn btn-primary" type="submit">{{ 'btn.search' | trans }}</button>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-6">
         <button type="button" class="btn btn-success" data-action="regexpedientes-form#clean">{{ button_label|default('btn.clean')|trans }}</button>
      </div>
   </div>
</div>
{{ form_end(form) }}
